.form {
  width: 50vw;
  margin: 20px auto;
  border: 1px solid #aaa;
}

.form div {
  width: 80%;
  margin: 0 auto;
}

.form input,
.form textarea,
.form select {
  width: 100%;
  margin: 5px auto;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
}
