header,
footer {
  width: 50vw;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #ddd;
  background-color: black;
  color: white;
}

header {
  padding: 1.2rem;
}

footer {
  padding: 0.3rem;
}
