.item {
  display: flex;
  gap: 3px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #777;
}

.image {
  width: 20px;
  height: 20px;
}

.date_box {
  display: flex;
  padding: 5px;
  flex-direction: column;
  font-size: 0.5rem;
}

.memo {
  flex: 1;
  text-align: left;
}
