div.left {
  display: flex;
  flex-direction: column;
  .memo_date {
    display: flex;
    gap: 3px;
  }
  ul {
    list-style-type: none;
    li {
      box-shadow: 2px 2px 2px 2px #ddd;
      margin: 10px 0;
      padding: 5px;
    }
  }
}

div.right {
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  padding: 5px;
  margin: 3px 0;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  &:focus {
    border: 1px solid green;
  }
  &:hover {
    background-color: #eee;
  }
}
