div.todo div.input {
  display: flex;
}

div.todo div.input input {
  flex: 3;
  padding: 8px;
  margin: 5px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #ddd;
}

/* div.todo div.input button { */
#btn_add {
  flex: 1;
  padding: 12px 16px;
  margin: 5px;
  border: 0;
  outline: 0;
  border-radius: 10px;
  background-color: #36e6cc;
  color: white;
  font-weight: 700;
}
#btn_add:hover {
  background-color: #ddd;
  color: black;
}

#btn_add:disabled {
  color: #777;
  cursor: not-allowed;
  background-color: #ddd;
}

div.list {
  width: 100%;
  text-align: left;
  margin: 0 auto;
}

div.list div {
  padding: 8px;
  color: #777;
}
div.list div:nth-of-type(odd) {
  background-color: #ccc;
}
div.list div:nth-of-type(even) {
  background-color: #eee;
}
