div.puzzle3 {
  width: 50%;
  margin: 50px auto;
}
section.letter {
  border: 1px solid black;
  padding: 20px;
  padding-top: 40px;
}

p.text {
  font-style: italic;
}

p.color {
  color: #0070f3;
  font-size: 13px;
  text-align: right;
  margin-top: -10px;
}

.hidden {
  color: transparent;
}
button.button {
  border: 1px solid black;
  border-radius: 10px;
  margin-left: auto;
  padding: 0.3rem 1rem;
  font-size: 15px;
  background-color: transparent;
  color: #0070f3;
  display: flex;
}
